# editorconfig.org
root = true

[*]
#tab or space
indent_style = space
#tab_width or indent_size
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespaces = true
insert_final_newline = true

[*.md]
trim_trailing_whitespaces = false
